* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all ease 0.5s;
}

.btn {
    text-decoration: none;
    color: white;
    padding: 10px 30px;
    border: 1px solid white;
    border-radius: 8px;
    background-color: gray;
}

.btn:hover {
    background-color: transparent;
    color: white;
}

.header h1 {
    color: white;
}

.banner {
    position: relative;
}

.banner .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.banner .content .title {
    color: white;
    text-transform: uppercase;
    font-size: 58px;
    font-weight: bold;
    margin-bottom: 30px;
}

.gold-text {
    color: gold;
}

.main {
    padding: 50px 0;
}

.section-title {
    margin-bottom: 30px;
}

.card {
    width: 40%;
    height: 350px;
    position: relative;
    box-shadow: 10px 15px 20px;
    margin-bottom: 35px;
}

.type {
    position: absolute;
    top: 0;
    left: 10px;
    padding: 5px 10px;
    background-color: turquoise;
}

.img {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    height: 300px;
}

.img:hover {
    background-size: 150%;
}

.img1 {
    background-image: url("./img/img-1.jpg");
}
.img2 {
    background-image: url("./img/img-2.jpg");
}
.img3 {
    background-image: url("./img/img-3.jpg");
}
.img4 {
    background-image: url("./img/img-4.jpg");
}

.des {
    margin: 0;
    padding: 20px 5px;
    font-weight: bold;
}

.footer {
    padding: 30px 0;
}

.footer .title {
    margin-bottom: 20px;
    color: white;
}

.footer .fab {
    color: white;
    font-size: 40px;
    margin-left: 20px;
}

.heart-content {
    position: relative;
}

.heart-content .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: pink;
    color: black;
    box-shadow: black 3px 3px 3px;
}

.heart-content .btn:hover {
    background-color: transparent;
    color: black;
}