* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: all ease 0.3s;
}

.header-container h1 {
    color: white;
}

.btn {
    background-color: transparent;
}

.banner {
    position: relative;
}

.banner .video {
    height: 100vh;
    width: 100%;
    object-fit: cover;
}

.banner .banner-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.banner .title {
    color: white;
    text-transform: uppercase;
    margin-bottom: 30px;
    font-size: 60px;
}

.gold-text {
    color: gold;
}

.banner .btn {
    font-size: 30px;
    font-weight: bold;
}

a {
    color: white;
    text-decoration: none;
    z-index: 2;
}

.heart-content .heart-img .btn a {
    border-color: red;
    color: black;
    font-size: 30px;
    font-weight: bold;
}

.heart-content {
    position: relative;
}

.heart-content .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    font-weight: bold;
}

.card {
    width: 40%;
    height: 350px;
    position: relative;
    margin-bottom: 40px;
    box-shadow: 10px 15px 20px;
}

.card .bg-card {
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 300px;
}

.card .bg-card:hover {
    background-size: 150%;
}

.card .bg-card.sport {
    background-image: url("./img/img-1.jpg");
}

.card .bg-card.food {
    background-image: url("./img/img-2.jpg");
}

.card .bg-card.luxury {
    background-image: url("./img/img-3.jpg");
}

.card .bg-card.adventure {
    background-image: url("./img/img-4.jpg");
}

.card .description {
    font-weight: bold;
    margin: 0;
}

.card .card-content {
    padding: 20px 5px;
}

.card .type {
    position: absolute;
    top: 0px;
    left: 20px;
    padding: 5px 20px;
    background-color: turquoise;
}

.section-title {
    margin-bottom: 30px;
    text-transform: uppercase;
}

.main-container {
    padding: 50px 0 50px;
}

.footer-container {
    padding: 30px 0;
}

.footer-container .title{
    color: white;
    margin-bottom: 20px;
}

.footer-container .fab {
    color: white;
    font-size: 40px;
    margin-right: 15px;
}